*{
  font-family: "Rubik", sans-serif;
  font-weight: 600;
}

:root{
  --main-radius:5px;
  --main-padding: 5px;
  --floating-effect: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  --pokemon-radius: 30px;
}

body {
  background: #f5f5f5a4;
}

.navbar ul {
  list-style: none;
  justify-content: space-evenly;
  padding: 1px;
  display: grid;
  grid-template-columns: repeat(7, 250px);
}

@media screen and (max-width: 600px) {
  .navbar ul {
    flex-direction: column;
    align-items: center;
  }
}

.navbar li {
  flex-grow: 1;
}

.navbar a {
  color: grey;
  text-decoration: none;
  /* font-size: 19px; */
  padding: 15px 16px;
}

.navbar a:hover {
  color: red;
  border-bottom: 8px solid red;
}

.fas.fa-home, .fas.fa-gamepad, .fas.fa-record-vinyl, .fas.fa-layer-group, .fas.fa-tv, .fas.fa-trophy, .fas.fa-newspaper{
  font-size: 31px;
  padding: 20px;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:  "content content content content-info"
                        "content content content content-info" 
                        "content content content content-info" 
                        "content content content content-info";
  grid-gap: 0.5rem;
}

#navbar-container{
  grid-area: navbar-container;  
  background-color: white;  
  border-radius: 15px;
  height: 7rem;
  padding-top: var(--main-padding);
  box-shadow: var(--floating-effect);
}

#content{
  background-color: transparent;
  grid-area: content;
  padding: var(--main-padding);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin-top: 14rem;
}

#content-info{
  grid-area: content-info;
  margin-top: -1rem;
}

.pokemon-container{
  text-align: center;
  background: white;
  padding-top: var(--main-padding);
  box-shadow: 0 10px 20px rgba(226, 221, 221, 0.19), 0 6px 6px rgba(165, 164, 164, 0.23);
  border-radius: var(--pokemon-radius);
  margin: 20px;
  margin-top: 9rem;
  margin-bottom: -3rem;
}

.pokemon-card{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  place-items: center;
  margin-top: 2rem;
}

#poke-type{
  background: #a8ef8e;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
}

#pokemon-name{
  font-size: 20px;
  font-weight: 800;
  align-content: center;
  margin: 5px;
}

#pokemon-num{
  font-size: 15px;
  font-weight: 500;
  color: grey;
}

#pokemon-image{
  width:60px;
  height:50px;
  position: relative;
  top: -60px;
}

.pokemon-details{
  margin: -44px auto 20px;
}

.CardInfo{
  background: red;
}

.pokemon-cardInfo-details{
  display: grid;
  place-items: center;
  grid-template-rows: repeat(3, 30px);
  margin-top: -9rem;
}

.pokemon-number-cardInfo{
  font-size: 15px;
  font-weight: 500;
  color: grey;
}

.pokemon-name-cardInfo{
  font-size: 20px;
  font-weight: 800;
}

.pokemon-kind-cardInfo{
  color: #bcbdcd;
}

#pokemon-image-cardInfo{
  width: 320px;
  height: 300px;
  position: relative;
  top: -9rem;
}

.pokemon-type-cardInfo{
  display: grid;
  place-items: center;
  grid-template-columns: 5rem 5rem;
}

#first-pokemon-type{
  background: #86a8ff;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
}

#second-pokemon-type{
  background: #aaa9cd;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
}

.pokemon-cardInfo-container{
  text-align: center;
  background: white;
  padding-top: var(--main-padding);
  box-shadow: 0 10px 20px rgba(226, 221, 221, 0.19), 0 6px 6px rgba(165, 164, 164, 0.23);
  border-radius: var(--pokemon-radius);
  margin: 20px;
  margin-top: 9rem;
  margin-bottom: -3rem;
  min-width: 33vw;
}

.main-nav-container{
  margin-top: 1%;
}
.pokemon-abilities-info{
  display: grid;
  place-items: center;
  grid-template-columns: repeat(2, 5rem);
}
.pokemon-entry-details{
  font-style: normal;
  font-weight:450;
  padding-right: 50px;
  padding-left: 50px;
}